#
#  Copyright 2018 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

resources:
{% if properties['lifecycle'] == "DEPLOY" %}
- name: apis
  type: apis.jinja
  properties:
    enabled:
    - compute
    - cloudkms
    - runtimeconfig
    - cloudresourcemanager
    - iam
    - dns
- name: config
  type: gcp-types/runtimeconfig-v1beta1:projects.configs
  properties:
    config: config-{{ properties['suffix'] }}
  metadata:
    dependsOn:
    - api-runtimeconfig
- name: bucket
  type: gcp-types/storage-v1:buckets
  properties:
    name: citrix-on-gcp-{{ properties['suffix'] }}-{{ env['project_number'] }}
    location: {{ properties['region'] }}
{% endif %}
- name: keyRing
  type: gcp-types/cloudkms-v1:projects.locations.keyRings
  properties:
    parent: projects/{{ env["project"] }}/locations/global
    keyRingId: {{ properties['keyring'] }}
  metadata:
    dependsOn:
    - api-cloudkms
- name: cryptoKey
  type: gcp-types/cloudkms-v1:projects.locations.keyRings.cryptoKeys
  properties:
    parent: $(ref.keyRing.name)
    cryptoKeyId: domain-secrets-{{ properties['suffix'] }}
    purpose: ENCRYPT_DECRYPT
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/cloudkms.cryptoKeyDecrypter
        members:
{% if properties['lifecycle'] == "DEPLOY" %}
        - "{{ properties["admin"] }}"
        - "serviceAccount:$(ref.admin-service-account.email)"
{% endif %}
      - role: roles/cloudkms.cryptoKeyEncrypter
        members:
{% if properties['lifecycle'] == "DEPLOY" %}
        - "{{ properties["admin"] }}"
        - "serviceAccount:$(ref.admin-service-account.email)"
{% endif %}
{% if properties['lifecycle'] == "DEPLOY" %}
- name: admin-service-account
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: admin-{{ properties['suffix'] }}
    displayName: 'Admin service account for bootstrapping domain-joined servers with elevated permissions'
  metadata:
    dependsOn:
    - api-iam
- name: citrix-service-account
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: citrix-{{ properties['suffix'] }}
    displayName: 'Service account for Citrix machine catalog for GCP'
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/iam.serviceAccountKeyAdmin
        members:
        - "serviceAccount:$(ref.admin-service-account.email)"
  metadata:
    dependsOn:
    - api-iam
- name: get-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  properties:
    resource: {{ env['project'] }}
  metadata:
    dependsOn:
    - api-cloudresourcemanager
- name: add-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  properties:
    resource: {{ env['project'] }}
    policy: $(ref.get-iam-policy)
    gcpIamPolicyPatch:
      add:
      - role: roles/editor
        members:
        - "serviceAccount:$(ref.admin-service-account.email)"
      - role: roles/viewer
        members:
        - "serviceAccount:$(ref.citrix-service-account.email)"
      - role: roles/compute.instanceAdmin
        members:
        - "serviceAccount:$(ref.citrix-service-account.email)"
  metadata:
    dependsOn:
    - api-cloudresourcemanager
- name: network
  type: network.jinja
  properties:
    suffix: {{ properties['suffix'] }}
    region: {{ properties['region'] }}
    zone: {{ properties['zone'] }}
    secondary-zone: {{ properties['secondary-zone'] }}
    subnets: {{ properties['subnets'] }}
    domain-name: {{ properties['domain-name'] }}
    dc-1-address: {{ properties['dc-1-address'] }}
    dc-2-address: {{ properties['dc-2-address'] }}
- name: domain-controllers
  type: domain-controllers.jinja
  properties:
    suffix: {{ properties['suffix'] }}
    region: {{ properties['region'] }}
    primary-zone: {{ properties['zone'] }}
    secondary-zone: {{ properties['secondary-zone'] }}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ properties['suffix'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
- name: bastion
  type: bastion.jinja
  properties:
    suffix: {{ properties['suffix'] }}
    zone: {{ properties['zone'] }}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ properties['suffix'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    hosting-connection-service-account: $(ref.citrix-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
    citrix-creds: {{ properties['citrix-creds'] }}
- name: ctx-cc
  type: ctx-cloud-connector.jinja
  properties:
    suffix: {{ properties['suffix'] }}
    zones:
    - {{ properties['zone'] }}
{% if not properties['minimal'] %}
    - {{ properties['secondary-zone'] }}
{% endif %}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ properties['suffix'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
    citrix-creds: {{ properties['citrix-creds'] }}
- name: ctx-xenapp
  type: ctx-xenapp.jinja
  properties:
    suffix: {{ properties['suffix'] }}
    zones:
    {% for i in range(properties['workers']) %}
    - {{ loop.cycle(properties['zone'], properties['secondary-zone']) }}
    {% endfor %}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ properties['suffix'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    vda-download-url: {{ properties['vda-download-url'] }}
    ctx-machine-catalog: Catalog-{{ properties['suffix'] }}
    ctx-delivery-group: Group-{{ properties['suffix'] }}
{% if properties['hosting-connection-service-account'] %}
    ctx-hypervisor-connection: Google-Cloud-{{ properties['suffix'] }}
{% endif %}
    ctx-cloud-connectors:
    - ctx-cc-1-{{ properties['suffix'] }}.{{ properties['domain-name'] }}
{% if not properties['minimal'] %}
    - ctx-cc-2-{{ properties['suffix'] }}.{{ properties['domain-name'] }}
{% endif %}
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
    citrix-creds: {{ properties['citrix-creds'] }}
{% endif %}

