#
#  Copyright 2018 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

resources:
- name: apis
  type: apis.jinja
  properties:
    enabled:
    - cloudbuild
    - cloudkms
    - cloudresourcemanager
    - compute
    - dns
    - iam
    - runtimeconfig
- name: config
  type: gcp-types/runtimeconfig-v1beta1:projects.configs
  properties:
    config: {{ env['deployment'] }}
  metadata:
    dependsOn:
    - api-runtimeconfig
- name: bucket
  type: gcp-types/storage-v1:buckets
  properties:
    name: citrix-on-gcp-{{ env['project_number'] }}-{{ env['deployment'] }}
    location: {{ properties['region'] }}
- name: bucket-cleanup
  action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
  metadata:
    runtimePolicy:
    - DELETE
  properties:
    steps:
    - name: gcr.io/cloud-builders/gsutil
      args: ['rm', '-r', 'gs://$(ref.bucket.name)/' ]
    timeout: 120s
- name: keyRing
  action: gcp-types/cloudkms-v1:projects.locations.keyRings
  properties:
    parent: projects/{{ env["project"] }}/locations/global
    keyRingId: citrix-{{ env['deployment'] }}
  metadata:
    dependsOn:
    - api-cloudkms
    runtimePolicy:
    - CREATE
- name: cryptoKey
  action: gcp-types/cloudkms-v1:projects.locations.keyRings.cryptoKeys
  properties:
    parent: $(ref.keyRing.name)
    cryptoKeyId: domain-secrets-{{ env['deployment'] }}
    purpose: ENCRYPT_DECRYPT
  metadata:
    runtimePolicy:
    - CREATE
- name: cryptoKeyPolicy
  action: gcp-types/cloudkms-v1:cloudkms.projects.locations.keyRings.cryptoKeys.setIamPolicy
  properties:
    resource: $(ref.cryptoKey.name)
    policy:
      bindings:
      - role: roles/cloudkms.cryptoKeyDecrypter
        members:
        - "user:{{ env['username'] }}"
        - "serviceAccount:$(ref.admin-service-account.email)"
      - role: roles/cloudkms.cryptoKeyEncrypter
        members:
        - "user:{{ env['username'] }}"
        - "serviceAccount:$(ref.admin-service-account.email)"
  metadata:
    runtimePolicy:
    - CREATE
- name: admin-service-account
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: admin-{{ env['deployment'] }}
    displayName: 'Admin service account for bootstrapping domain-joined servers with elevated permissions'
  metadata:
    dependsOn:
    - api-iam
- name: citrix-service-account
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: citrix-{{ env['deployment'] }}
    displayName: 'Service account for Citrix machine catalog for GCP'
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/iam.serviceAccountKeyAdmin
        members:
        - "serviceAccount:$(ref.admin-service-account.email)"
  metadata:
    dependsOn:
    - api-iam
- name: get-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  properties:
    resource: {{ env['project'] }}
  metadata:
    dependsOn:
    - api-cloudresourcemanager
- name: add-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  properties:
    resource: {{ env['project'] }}
    policy: $(ref.get-iam-policy)
    gcpIamPolicyPatch:
      add:
      - role: roles/editor
        members:
        - "serviceAccount:$(ref.admin-service-account.email)"
      - role: roles/viewer
        members:
        - "serviceAccount:$(ref.citrix-service-account.email)"
      - role: roles/compute.instanceAdmin
        members:
        - "serviceAccount:$(ref.citrix-service-account.email)"
      - role: roles/storage.admin
        members:
        - "serviceAccount:{{ env['project_number'] }}@cloudbuild.gserviceaccount.com"
  metadata:
    dependsOn:
    - api-cloudbuild
    - api-cloudresourcemanager
- name: network
  type: network.jinja
  properties:
    suffix: {{ env['deployment'] }}
    region: {{ properties['region'] }}
    zone: {{ properties['zone'] }}
    secondary-zone: {{ properties['secondary-zone'] }}
    subnets: {{ properties['subnets'] }}
    domain-name: {{ properties['domain-name'] }}
    dc-addresses:
    - {{ properties['dc-1-address'] }}
{% if not properties['minimal'] %}
    - {{ properties['dc-2-address'] }}
{% endif %}
- name: domain-controllers
  type: domain-controllers.jinja
  properties:
    prefix: GCP
    suffix: {{ env['deployment'] }}
    region: {{ properties['region'] }}
    primary-zone: {{ properties['zone'] }}
    secondary-zone: {{ properties['secondary-zone'] }}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ env['deployment'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
- name: bastion
  type: bastion.jinja
  properties:
    suffix: {{ env['deployment'] }}
    zone: {{ properties['zone'] }}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ env['deployment'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
{% if properties['power-managed'] %}
    hosting-connection-service-account: $(ref.citrix-service-account.email)
{% endif %}
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
    citrix-creds: {{ properties['citrix-creds'] }}
- name: ctx-cc
  type: ctx-cloud-connector.jinja
  properties:
    suffix: {{ env['deployment'] }}
    zones:
    - {{ properties['zone'] }}
{% if not properties['minimal'] %}
    - {{ properties['secondary-zone'] }}
{% endif %}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ env['deployment'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
    citrix-creds: {{ properties['citrix-creds'] }}
- name: ctx-vda
  type: ctx-vda.jinja
  properties:
    suffix: {{ env['deployment'] }}
    zones:
    {% for i in range(properties['workers']) %}
    - {{ loop.cycle(properties['zone'], properties['secondary-zone']) }}
    {% endfor %}
    subnetwork: $(ref.citrix-{{ properties['region'] }}-{{ env['deployment'] }}.selfLink)
    service-account: $(ref.admin-service-account.email)
    domain-name: {{ properties['domain-name'] }}
    netbios-name: {{ properties['netbios-name'] }}
    kms-key: $(ref.cryptoKey.name)
    gcs-prefix: gs://$(ref.bucket.name)/
    runtime-config: $(ref.config.name)
    vda-download-url: {{ properties['vda-download-url'] }}
    ctx-machine-catalog: Catalog-{{ env['deployment'] }}
    ctx-delivery-group: Group-{{ env['deployment'] }}
{% if properties['power-managed'] %}
    ctx-hypervisor-connection: Google-Cloud-{{ env['deployment'] }}
{% endif %}
    ctx-cloud-connectors:
    - ctx-cc-1-{{ env['deployment'] }}.{{ properties['domain-name'] }}
{% if not properties['minimal'] %}
    - ctx-cc-2-{{ env['deployment'] }}.{{ properties['domain-name'] }}
{% endif %}
    minimal: {{ properties['minimal'] }}
    ssd: {{ properties['ssd'] }}
    bootstrap-from: {{ properties['bootstrap-from'] }}
    citrix-creds: {{ properties['citrix-creds'] }}

