#
#  Copyright 2018 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

resources:
{% if properties['setup-citrix'] %}
- name: waiter-connector
  type: runtimeconfig.v1beta1.waiter
  properties:
    waiter: waiter-connector
    parent: {{ properties['runtime-config'] }}
    timeout: 2400s
    success:
      cardinality:
        path: setup/citrix/connector
  metadata:
    dependsOn:
    - cc1{{ properties['suffix'] }}
{% endif %}
{% for zone in properties['zones'] %}
- name: waiter-cc{{ loop.index }}{{ properties['suffix'] }}
  type: runtimeconfig.v1beta1.waiter
  properties:
    waiter: waiter-cc{{ loop.index }}{{ properties['suffix'] }}
    parent: {{ properties['runtime-config'] }}
    timeout: 2400s
    success:
      cardinality:
        path: bootstrap/cc{{ loop.index }}{{ properties['suffix'] }}/success
  metadata:
    dependsOn:
    - cc{{ loop.index }}{{ properties['suffix'] }}
- name: cc{{ loop.index }}{{ properties['suffix'] }}
  type: windows.jinja
  properties:
    name: cc{{ loop.index }}{{ properties['suffix'] }}
    zone: {{ zone }}
    machine-type: n1-standard-2
    subnetwork: {{ properties['subnetwork'] }}
    service-account: {{ properties['service-account'] }}
    ssd: {{ properties['ssd'] }}
    metadata:
    - key: domain-name
      value: {{ properties['domain-name'] }}
    - key: netbios-name
      value: {{ properties['netbios-name'] }}
    - key: gcs-prefix
      value: {{ properties['gcs-prefix'] }}
    - key: runtime-config
      value: {{ properties['runtime-config'] }}
{% if properties['minimal'] %}
    - key: wait-on
      value: waiter-dc1{{ properties['suffix'] }}
{% else %}
    - key: wait-on
      value: waiter-dc2{{ properties['suffix'] }}
{% endif %}
{% if properties['bootstrap-from'].startswith('gs://') or
         properties['bootstrap-from'].startswith('https://') or
         properties['bootstrap-from'].startswith('http://')  %}
    - key: bootstrap-from
      value: {{ properties['bootstrap-from'] }}
    - key: windows-startup-script-url
      value: {{ properties['bootstrap-from'] }}/domain-member.ps1
{% if properties['setup-citrix'] %}
    - key: post-join-script-url
      value: {{ properties['bootstrap-from'] }}/cloud-connector.ps1
{% endif %}
{% else %}
{% endif %}
{% if properties['setup-citrix'] %}
    - key: citrix-creds
      value: {{ properties['citrix-creds'] }}
{% endif %}
    - key: serial-port-logging-enable
      value: "true"
    tags:
    - rdp
    - cc
    dependencies:
    - dc1-address{{ properties['suffix'] }}
{% if not properties['minimal'] %}
    - dc2-address{{ properties['suffix'] }}
{% endif %}
{% if properties['dependencies']|length > 0 %}
{% for dependency in properties['dependencies'] %}
    - {{ dependency }}
{% endfor %}
{% endif %}
- name: cc-builder{{ loop.index }}{{ properties['suffix'] }}
  action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
  metadata:
    runtimePolicy:
    - CREATE
    dependsOn:
    - waiter-cc{{ loop.index }}{{ properties['suffix'] }}
  properties:
    steps:
    - name: gcr.io/cloud-builders/gcloud
      args: ['compute', 'instances', 'stop', '$(ref.cc{{ loop.index }}{{ properties['suffix'] }}.name)', '--zone', '$(ref.cc{{ loop.index }}{{ properties['suffix'] }}.zone)' ]
    - name: gcr.io/cloud-builders/gcloud
      args: ['compute', 'instances', 'set-service-account', '$(ref.cc{{ loop.index }}{{ properties['suffix'] }}.name)', '--zone', '$(ref.cc{{ loop.index }}{{ properties['suffix'] }}.zone)', '--no-service-account', '--no-scopes' ]
    - name: gcr.io/cloud-builders/gcloud
      args: ['compute', 'instances', 'start', '$(ref.cc{{ loop.index }}{{ properties['suffix'] }}.name)', '--zone', '$(ref.vda{{ loop.index }}{{ properties['suffix'] }}.zone)' ]
    timeout: 120s
{% endfor %}

