#
#  Copyright 2018 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

resources:
{% for zone in properties['zones'] %}
- name: waiter-ctx-xa-{{ loop.index }}-{{ properties['suffix'] }}
  type: runtimeconfig.v1beta1.waiter
  properties:
    waiter: waiter-ctx-xa-{{ loop.index }}-{{ properties['suffix'] }}
    parent: {{ properties['runtime-config'] }}
    timeout: 2400s
    success:
      cardinality:
        path: bootstrap/ctx-xa-{{ loop.index }}-{{ properties['suffix'] }}/success
  metadata:
    dependsOn:
    - ctx-xa-{{ loop.index }}-{{ properties['suffix'] }}
- name: ctx-xa-{{ loop.index }}-{{ properties['suffix'] }}
  type: windows.jinja
  properties:
    name: ctx-xa-{{ loop.index }}-{{ properties['suffix'] }}
    zone: {{ zone }}
    machine-type: n1-standard-2
    subnetwork: {{ properties['subnetwork'] }}
    service-account: {{ properties['service-account'] }}
    ssd: {{ properties['ssd'] }}
    metadata:
    - key: domain-name
      value: {{ properties['domain-name'] }}
    - key: netbios-name
      value: {{ properties['netbios-name'] }}
    - key: kms-key
      value: {{ properties['kms-key'] }}
    - key: gcs-prefix
      value: {{ properties['gcs-prefix'] }}
    - key: runtime-config
      value: {{ properties['runtime-config'] }}
{% if properties['minimal'] %}
    - key: wait-on
      value: waiter-ctx-dc-1-{{ properties['suffix'] }}
{% else %}
    - key: wait-on
      value: waiter-ctx-dc-2-{{ properties['suffix'] }}
{% endif %}
{% if properties['bootstrap-from'].startswith('gs://') or
         properties['bootstrap-from'].startwith('https://') or
         properties['bootstrap-from'].startwith('http://')  %}
    - key: bootstrap-from
      value: {{ properties['bootstrap-from'] }}
    - key: windows-startup-script-url
      value: {{ properties['bootstrap-from'] }}/domain-member.ps1
    - key: post-join-script-url
      value: {{ properties['bootstrap-from'] }}/ctx-vda-1.ps1
{% else %}
{% endif %}
    - key: vda-download-url
      value: {{ properties['vda-download-url'] }}
    - key: domain-controller-addresses
      value: {% for ip in properties['domain-controller-addresses'] %}{{ ip }}{{ "," if not loop.last }}{% endfor %}
    - key: ctx-machine-catalog
      value: {{ properties['ctx-machine-catalog'] }}
    - key: ctx-delivery-group
      value: {{ properties['ctx-delivery-group'] }}
{% if properties['ctx-hypervisor-connection'] %}
    - key: ctx-hypervisor-connection
      value: {{ properties['ctx-hypervisor-connection'] }}
{% endif %}
    - key: ctx-cloud-connectors
      value: {% for host in properties['ctx-cloud-connectors'] %}{{ host }}{{ "," if not loop.last }}{% endfor %}
    tags:
    - ctx-xa
    - internet-nat
{% if properties['dependencies']|length > 0 %}
    dependencies:
{% for dependency in properties['dependencies'] %}
    - {{ dependency }}
{% endfor %}
{% endif %}
{% endfor %}

