#
#  Copyright 2018 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

resources:
- name: waiter-dc1{{ properties['suffix'] }}
  type: runtimeconfig.v1beta1.waiter
  properties:
    waiter: waiter-dc1{{ properties['suffix'] }}
    parent: {{ properties['runtime-config'] }}
    timeout: 2400s
    success:
      cardinality:
        path: bootstrap/dc1{{ properties['suffix'] }}/success
  metadata:
    dependsOn:
    - dc1{{ properties['suffix'] }}
- name: dc1-address{{ properties['suffix'] }}
  type: compute.v1.address
  properties:
    address: {{ properties['domain-controllers'][0]['address'] }}
    addressType: INTERNAL
    region: {{ properties['region'] }}
    subnetwork: {{ properties['subnetwork'] }}
- name: dc1{{ properties['suffix'] }}
  type: windows.jinja
  properties:
    name: dc1{{ properties['suffix'] }}
    zone: {{ properties['domain-controllers'][0]['zone'] }}
    machine-type: n1-standard-2
    subnetwork: {{ properties['subnetwork'] }}
    networkIP: {{ properties['domain-controllers'][0]['address'] }}
    service-account: {{ properties['service-account'] }}
    ssd: {{ properties['ssd'] }}
    metadata:
    - key: domain-name
      value: {{ properties['domain-name'] }}
    - key: netbios-name
      value: {{ properties['netbios-name'] }}
    - key: gcs-prefix
      value: {{ properties['gcs-prefix'] }}
    - key: runtime-config
      value: {{ properties['runtime-config'] }}
{% if properties['bootstrap-from'].startswith('gs://') or
         properties['bootstrap-from'].startswith('https://') or
         properties['bootstrap-from'].startswith('http://')  %}
    - key: bootstrap-from
      value: {{ properties['bootstrap-from'] }}
    - key: windows-startup-script-url
      value: {{ properties['bootstrap-from'] }}/primary-domain-controller-step-1.ps1
{% else %}
{% endif %}
    - key: serial-port-logging-enable
      value: "true"
    tags:
    - dc
    - dns
    - rdp
    - smb
    dependencies:
    - dc1-address{{ properties['suffix'] }}
{% if not properties['minimal'] %}
    - dc2-address{{ properties['suffix'] }}
{% endif %}
{% if properties['dependencies']|length > 0 %}
{% for dependency in properties['dependencies'] %}
    - {{ dependency }}
{% endfor %}
{% endif %}
{% if not properties['minimal'] %}
- name: waiter-dc2{{ properties['suffix'] }}
  type: runtimeconfig.v1beta1.waiter
  properties:
    waiter: waiter-dc2{{ properties['suffix'] }}
    parent: {{ properties['runtime-config'] }}
    timeout: 2400s
    success:
      cardinality:
        path: bootstrap/dc2{{ properties['suffix'] }}/success
  metadata:
    dependsOn:
    - dc2{{ properties['suffix'] }}
- name: dc2-address{{ properties['suffix'] }}
  type: compute.v1.address
  properties:
    address: {{ properties['domain-controllers'][1]['address'] }}
    addressType: INTERNAL
    region: {{ properties['region'] }}
    subnetwork: {{ properties['subnetwork'] }}
- name: dc2{{ properties['suffix'] }}
  type: windows.jinja
  properties:
    name: dc2{{ properties['suffix'] }}
    zone: {{ properties['domain-controllers'][1]['zone'] }}
    machine-type: n1-standard-2
    subnetwork: {{ properties['subnetwork'] }}
    networkIP: {{ properties['domain-controllers'][1]['address'] }}
    service-account: {{ properties['service-account'] }}
    ssd: {{ properties['ssd'] }}
    metadata:
    - key: domain-name
      value: {{ properties['domain-name'] }}
    - key: netbios-name
      value: {{ properties['netbios-name'] }}
    - key: gcs-prefix
      value: {{ properties['gcs-prefix'] }}
    - key: runtime-config
      value: {{ properties['runtime-config'] }}
    - key: wait-on
      value: waiter-dc1{{ properties['suffix'] }}
{% if properties['bootstrap-from'].startswith('gs://') or
         properties['bootstrap-from'].startswith('https://') or
         properties['bootstrap-from'].startswith('http://')  %}
    - key: bootstrap-from
      value: {{ properties['bootstrap-from'] }}
    - key: windows-startup-script-url
      value: {{ properties['bootstrap-from'] }}/secondary-domain-controller-step-1.ps1
{% else %}
{% endif %}
    - key: serial-port-logging-enable
      value: true
    tags:
    - dc
    - dns
    - rdp
    - smb
    dependencies:
    - dc1-address{{ properties['suffix'] }}
    - dc2-address{{ properties['suffix'] }}
{% if properties['dependencies']|length > 0 %}
{% for dependency in properties['dependencies'] %}
    - {{ dependency }}
{% endfor %}
{% endif %}
{% endif %}
- name: cloudbuild-domain-config
  action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
  metadata:
    dependsOn:
    - waiter-dc1{{ properties['suffix'] }}
{% if not properties['minimal'] %}
    - waiter-dc2{{ properties['suffix'] }}
{% endif %}
    runtimePolicy:
    - CREATE
  properties:
    steps:
    - name: gcr.io/cloud-builders/gcloud
      args:
      - compute
      - instances
      - create
      - domcfg{{ properties['suffix'] }}
      - --zone={{ properties['zone'] }}
      - --machine-type=e2-standard-2
      - --subnet=$(ref.citrix-{{ properties['region'] }}{{ suffix }}.selfLink)
      - --no-address
      - --metadata=domain-name={{ properties['domain-name'] }},netbios-name={{ properties['netbios-name'] }},gcs-prefix=gs://$(ref.bucket.name)/,runtime-config=$(ref.config.name),bootstrap-from={{ properties['bootstrap-from'] }},windows-startup-script-url={{ properties['bootstrap-from'] }}/config-domain.ps1,serial-port-logging-enable=true
      - --service-account=$(ref.admin-service-account.email)
      - --scopes=https://www.googleapis.com/auth/cloud-platform
      - --image-family=windows-2019
      - --image-project=windows-cloud
      - --boot-disk-size=50GB
      - --boot-disk-type=pd-standard
      - --boot-disk-device-name=domcfg{{ suffix }}
    - name: gcr.io/majestic-voice-274801/cloudshell
      args:
      - {{ properties['bootstrap-from'] }}/wait-for-cleanup.sh
      - domcfg{{ suffix }}
      - {{ properties['zone'] }}
    timeout: 600s

