#
#  Copyright 2018 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

resources:
- name: citrix{{ properties['suffix'] }}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
    description: Citrix XenApp
  metadata:
    dependsOn:
    - api-compute
    - api-cloudkms
    - api-runtimeconfig
    - config
{% for subnet in properties['subnets'] %}
- name: citrix-{{ subnet['region'] }}{{ properties['suffix'] }}
  type: compute.v1.subnetwork
  properties:
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    ipCidrRange: {{ subnet['cidr'] }}
    region: {{ subnet['region'] }}
    privateIpGoogleAccess: true
{% endfor %}
- name: citrix-allow-external-dns{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: Allow forwarding from Google DNS
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    allowed:
    - IPProtocol: tcp
      ports:
      - '53'
    - IPProtocol: udp
      ports:
      - '53'
    direction: INGRESS
    priority: 1000
    sourceRanges:
    - 35.199.192.0/19
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    targetTags:
    - dns
- name: citrix-allow-external-rdp{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: External RDP remote management for bastion virtual machines
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    allowed:
    - IPProtocol: tcp
      ports:
      - '3389'
    direction: INGRESS
    priority: 1000
    sourceRanges:
    - 35.235.240.0/20
    targetTags:
    - rdp
- name: citrix-allow-internal-dc{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: Allow internal traffic between instances
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    allowed:
    - IPProtocol: icmp
    - IPProtocol: tcp
      ports:
      - '88'
      - '135'
      - '389'
      - '445'
      - '464'
      - '636'
      - '3268'
      - '3269'
      - '5985'
      - '9389'
      - '49152-65535'
    - IPProtocol: udp
      ports:
      - '88'
      - '123'
      - '389'
      - '464'
    direction: INGRESS
    priority: 1000
    sourceRanges:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    targetTags:
    - dc
- name: citrix-allow-internal-cc-vda{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: Allow internal traffic between instances
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    allowed:
    - IPProtocol: tcp
      ports:
      - '80'
      - '443'
      - '1494'
      - '2598'
      - '8008'
    - IPProtocol: udp
      ports:
      - '1494'
      - '2598'
      - '16500-16509'
    direction: INGRESS
    priority: 1000
    sourceTags:
    - cc
    targetTags:
    - vda
- name: citrix-allow-internal-vda-cc{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: Allow internal traffic between instances
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    allowed:
    - IPProtocol: tcp
      ports:
      - '80'
    direction: INGRESS
    priority: 1000
    sourceTags:
    - vda
    - cc
    targetTags:
    - cc
- name: citrix-allow-internal-smb{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: Allow internal traffic between instances
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    allowed:
    - IPProtocol: tcp
      ports:
      - '445'
    direction: INGRESS
    priority: 1000
    sourceRanges:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    targetTags:
    - smb
- name: citrix-deny-all-sink{{ properties['suffix'] }}
  type: compute.v1.firewall
  properties:
    description: Low-priority deny all with logging to catch firewall issues
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    denied:
    - IPProtocol: all
    logConfig:
      enable: true
    direction: INGRESS
    priority: 65534
    sourceRanges:
    - 0.0.0.0/0
- name: citrix-on-gcp-router{{ properties['suffix'] }}
  type: compute.v1.router
  properties:
    network: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    region: {{ properties['region'] }}
    nats:
    - name: citrix-on-gcp-nat{{ properties['suffix'] }}
      sourceSubnetworkIpRangesToNat: ALL_SUBNETWORKS_ALL_IP_RANGES
      natIpAllocateOption: AUTO_ONLY
- name: citrix-on-gcp-zone{{ properties['suffix'] }}
  type: gcp-types/dns-v1beta2:managedZones
  properties:
    description: Forwarding zone to integrate Google DNS with Active Directory
    dnsName: {{ properties['domain-name'] }}.
    visibility: private
    privateVisibilityConfig:
      networks:
      - networkUrl: $(ref.citrix{{ properties['suffix'] }}.selfLink)
    forwardingConfig:
      targetNameServers:
{% for address in properties['dc-addresses'] %}
      - ipv4Address: {{ address }}
{% endfor %}
