#
#  Copyright 2019 Google Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

outputs:
- name: Domain
  value: $(ref.citrix-on-gcp.domain-name)
- name: Domain Admin
  value: $(ref.citrix-on-gcp.domain-admin)
- name: Domain Admin Password
  value: $(ref.citrix-on-gcp.domain-admin-password)
- name: Domain User
  value: $(ref.citrix-on-gcp.domain-user)
- name: Domain User Password
  value: $(ref.citrix-on-gcp.domain-user-password)
- name: Citrix Cloud Workspace URL
  value: "$(ref.output-citrix-cloud.workspace-url)"

resources:
- name: citrix-on-gcp
  type: citrix-on-gcp.jinja
  properties:
    setup-citrix: False
    omit-suffix: True
    domain: example.com
    netbios-name: EXAMPLE
- name: citrix-cloud
  action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
  metadata:
    runtimePolicy:
    - CREATE
    dependsOn:
    - api-cloudbuild
  properties:
    steps:
    - name: gcr.io/majestic-voice-274801/curl-iap
      args:
      - -o
      - citrix-cloud.json
      - -X
      - POST
      - -H
      - "content-type: application/json"
      - --data-binary
      - '{"lab-id":"50110","duration":90,"ql-email":"{{ properties["userName"] }}@qwiklabs.net","ql-password":"{{ properties["password"] }}","ql-project":"{{ env["project"] }}"}'
      - https://majestic-voice-274801.uc.r.appspot.com/citrix-cloud/v1/tenant-sessions
    - name: google/cloud-sdk
      args:
      - gsutil
      - cp
      - citrix-cloud.json
      - gs://$(ref.bucket.name)/output/
    timeout: 120s
- name: output-citrix-cloud
  action: gcp-types/storage-v1:storage.objects.get
  properties:
    bucket: $(ref.bucket.name)
    object: output/citrix-cloud.json
    alt: media
  metadata:
    dependsOn:
    - citrix-cloud
    runtimePolicy:
    - CREATE

